<% include ../partials/head %>
<% include ../partials/header %>
    <div class="container">
        <h1>Events Details page</h1>    
    <div style="background:lightgray;">
        <h3>
            <%= event.event_name %>
        </h3>
        <h3>
            <%= event.location %>
        </h3>
        <h3>
            <%= event.date %>
        </h3>
        <h3>
            <%= event.start_time %>
        </h3>
        <h3>
            <%= event.end_time %>
        </h3>
        <h3>
            <%= event.organizer %>
        </h3>
        <h3>
            <%= event.contact%>
        </h3>
        <h3>
            <%= event.description %>
        </h3>
        <h3>
            <%= event.volunteers_needed %>
        </h3>
    </div>
    <div id="floating-panel">
      
            <!-- <input id="submit" type="button" value="Get Map"> -->
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Get Map</button>
    </div>


    <div>
        <h3>List of volunteers</h3>
<!-- loop through the volunteers arrays and display all -->
        <% event.Volunteers.forEach(function(volunteer){ %>
                <h6><span><%=volunteer.first_name %> </span>  <span><%=volunteer.last_name %></span></h6>
        <% }) %>
    </div>

<!-- We want to hide edit buttion if the event does not belong to the current signed in user -->
    <% if (currentUser && currentUser.id === event.UserId){%>
        <a href='/events/<%= event.id %>/edit'>Edit Event</a>
    <br>
    <%}%>

    <!-- We want to complete the numbers of signup up volunteers to the number of spaces -->
    <% if (event.Volunteers.length >= event.volunteers_needed){%>
        <p>Event is Full</p>
    <%}else {%>
        <a href='/events/<%= event.id %>/volunteers/new'>Sign up for Event</a>
   <% }%>
    
</div>


    <% include ../partials/footer %>


       