<% include ../partials/head %>
    <% include ../partials/header %>

        <br>
        <div class=container>
            <div class="jumbotron jumbotron-home">
                <h1>Volunteer Sign up page</h1>
                <h3>Sign up to volunteer at
                    <strong>
                        <%= event.event_name%>
                    </strong>
                </h3>
            </div>

            <form action="/events/<%=event.id%>/volunteers" id="msform" method="POST">
                <!-- fieldsets -->
                <fieldset>
                    <hr>
                    <%if(currentUser){%>
                        <input type="text" name="first_name" value="<%=currentUser.first_name%>">
                        <input type="text" name="last_name" value="<%=currentUser.last_name%>">
                        <input type="number" name="age" placeholder="Age">
                        <input type="email" name="contact" value="<%=currentUser.email%>">
                        <input type="submit" name="submit" class="next action-button" value="Submit" />
                        <%}else {%>
                            <input type="text" name="first_name" placeholder="First Name">
                            <input type="text" name="last_name" placeholder="Last Name">
                            <input type="number" name="age" placeholder="Age">
                            <input type="email" name="contact" placeholder="Email">
                            <input type="submit" name="submit" class="next action-button" value="Submit" />
                            <%}%>
                </fieldset>
            </form>
        </div>
        <% include ../partials/footer %>